.preLoggedIn {
  grid-column: 11/12;
  height: 4rem;
}

.login {
  grid-column: 10/13;
}

.loggedIn {
  height: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
}

#loggedIn_message {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;

  background-color: rgba(87, 174, 211, 1);
  color: white;
  border-radius: 3px;
  border: 2px solid #9a9695;

  grid-column: 1/2;
}
#logout_button {
  grid-column: 3/4;
}

#profileImageDiv:hover #loggedIn_message {
  display: block;
  opacity: 1;
  visibility: visible;
}

#profileImageDiv {
  grid-column: 2/3;
}
#profileImage {
  margin-top: 3px;
  height: 90%;
  border-radius: 50%;
  border: 2px solid #9a9695;
  max-height: 100%;
}

.btn-signout {
  vertical-align: "middle";
  display: inline-block;
  border-radius: 4px;
  background-color: #e2dedd;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20pxvw;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 80%;
}
.btn-signout:hover {
  background-color: #9a9695;
}

.btn-signout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.btn-signout span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.btn-signout:hover span {
  padding-right: 25px;
}

.btn-signout:hover span:after {
  opacity: 1;
  right: 0;
}
