.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4rem 1fr;
}
.App {
	display: grid;
	background-color: #eeeeee;
	grid-template-columns: repeat(12, 1fr);
	overflow: hidden;
	
}

.header {
	background: #fff;
	border-bottom: 5px solid #2b2b2b;
	padding: 0 1rem 0 1rem;
	transition: all 0.15s linear;
	grid-template-columns: repeat(12, 1fr);
	display: grid;
}

.page_title{
	grid-column: 2/4;
	
}

.preLoggedIn {
	grid-column: 11/12;
	height: 4rem;
}

.login{
	grid-column: 9/12;
	height: 4rem;
	
}

.loggedIn{   
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-columns: repeat(3);*/
}

.loggedIn_message{
	grid-column: 2;
	color: black;
}

.logout_button{
	grid-column: 3;
}

.header.active {
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.mainContent {
	overflow-y: scroll;
	grid-column: 2/10;
	background-color: #fff;
	display: grid;
	grid-template-rows: repeat(2);
}

.sideBar {
	grid-column: 10/12;
	background-color: #fff;
	border-left: 1px solid #eee;
}

.search-container {
	/* padding: 10px; */
}

.generated-news {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 650px) {
	.generated-news {
		grid-template-columns: repeat(1, 1fr);
	}
}

#categories {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	min-height: 2.5rem;
	background-color: #2b2b2b;
	grid-template-rows: 1/1;
}

.articleDisplay {
	background-color: rgb(250, 250, 250);
	margin: 10px;
	border-bottom: 5px solid #eee;
}

.articleDisplay img {
	max-width: 100%;
}

.img-container {
	background-color: #666;
}

.starredDisplay {
	background: #f8f8f8;
	border-bottom: medium solid #eeeeee;
	margin: 10px;
	padding: 10px;
}

/* Category buttons */
.btn-toggle {
	flex-grow: 1;
	border: none;
	outline: none;
	width: 7rem;
	height: 2.8rem;
	padding: 4px 2px 4px 2px;
	background-color: #2b2b2b;
	color: white;
	cursor: pointer;
	font-size: 1rem;
}

/* Style the active class, and buttons on mouse-over */
.btn-toggle-active,
.btn-toggle:hover {
	background-color: #fff;
	border-top: 4px solid rgba(90, 143, 199, 0.521);
	color: #2b2b2b;
}

.btn-toggle-active {
	font-weight: 600;
}

.horisontal-line {
	width: 90%;
	margin: auto;
	border-top: 4px solid rgba(90, 143, 199, 0.521);
}

.dropdown {
	border: none;
	cursor: pointer;
	height: 2.8rem;
	width: 3rem;
	font-size: 1rem;
	font-weight: 600;
	color: #2b2b2b;
	background: #fafafa;
}

.dropdown:hover {
	color: #2773c6;
}
