.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  background-color: rgba(62, 83, 104, 1);
  background-image: radial-gradient(
    circle farthest-corner at 50.3% 44.5%,
    rgba(116, 147, 179, 1) 0%,
    rgba(62, 83, 104, 1) 100.2%
  );
}
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
}

.header {
  z-index: 10;
  background: rgb(47, 62, 78);
  padding: 0 1rem 0 1rem;
  transition: all 0.15s linear;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

.page_title {
  grid-column: 2 / span 2;
}

.header.active {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.mainContent {
  overflow-y: scroll;
  grid-column: 2/10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

::-webkit-scrollbar {
  display: none;
}

.sideBar {
  grid-column: 10/12;
  margin: 2rem 0 0 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  overflow-y: scroll;
  /* border-left: 1px solid #eee; */
}

.search-container {
  width: 60vw;
  padding: 10px;
  position: fixed;
  background-color: rgba(62, 83, 104, 1);
  -webkit-box-shadow: 0px 6px 2px -3px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 6px 2px -3px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 6px 2px -3px rgba(0, 0, 0, 0.29);
  border-radius: 0 0 5px 5px;
}

.filters {
  display: flex;
  flex-direction: row;
}

.generated-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 150px;
  grid-column: 1/-1;
}

@media screen and (max-width: 650px) {
  .generated-news {
    grid-template-columns: repeat(1, 230px);
    margin-top: 120px;
  }
  .published {
    font-size: 10px;
  }
  .login {
    grid-column: 8/13 !important;
  }
  .firebaseui-idp-button {
    padding: 3px !important;
  }
  .firebaseui-idp-text {
    font-size: 10px !important;
  }
  h4 {
    font-size: 12px !important;
    margin: 4px !important;
  }
  h3.title {
    font-size: 12px !important;
    line-height: 1rem;
  }
  .sideBar {
    margin: 0px !important;
    grid-column: 10/13 !important;
  }
  #starredTitle {
    font-size: 8px !important;
  }
  .starredDisplay {
    background: #eee !important;
    border-bottom: medium solid #ccc !important;
    border-radius: 0.5rem !important;
    margin: 2px !important;
    padding: 5px !important;
  }
  .source {
    text-transform: lowercase;
    font-size: 7px !important;
    margin-top: 2px !important;
  }
  .btn-toggle {
    height: 45% !important;
    font-size: 7px !important;
  }
  .btn-tertiary {
    background-color: transparent;
    font-size: 5px !important;
  }
  .starred {
    font-size: 1.2rem !important;
  }

  .comment {
    font-size: 6px;
  }
  .anchor-url {
    text-transform: lowercase;
    font-size: 10px;
  }
  #search-field {
    width: 60% !important;
    font-size: 12px !important;
  }
  .dropdown {
    font-size: 12px !important;
    width: 3rem !important;
  }
  #profileImage {
    margin-top: 5px !important;
    height: 80% !important;
  }
  .btn-signout {
    height: 60%;
  }
  #loggedIn_message {
    display: none !important;
  }
  #err404 {
    font-size: 60px !important;
  }
  #noResultError {
    font-size: 12px !important;
  }
  .errorview {
    height: 40% !important;
  }
}
#categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 2.5rem;
  flex: 1;
  /* background-color: #2b2b2b; */
  grid-template-rows: 1/1;
}

/* Article display */
.articleDisplay {
  background-color: #eee;
  margin: 10px;
  border-bottom: 0.3rem solid #ccc;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.articleDisplay-content {
  margin: 0.5rem 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleDisplay-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleDisplay img {
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.img-container {
  background-color: #666;
}

.starredDisplay {
  background: #eee;
  border-bottom: medium solid #ccc;
  border-radius: 1rem;
  margin: 10px;
  padding: 10px;
}

/* Category buttons */
.btn-toggle {
  flex-grow: 1;
  border: none;
  outline: none;
  /* width: 7rem; */
  /* height: 2.8rem; */
  padding: 0.1rem 0.1rem;
  margin: 0.1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  color: #eee;
  cursor: pointer;
  font-size: 1vw;
}

/* Style the active class, and buttons on mouse-over */
.btn-toggle-active,
.btn-toggle:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* border-bottom: 4px solid rgba(90, 143, 199, 0.521); */
}

.btn-toggle-active {
  font-weight: 700;
}

.horisontal-line {
  width: 90%;
  margin: auto;
  border-top: 4px solid rgba(90, 143, 199, 0.521);
}

.dropdown {
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  height: 2.8rem;
  width: 3.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #eee;
  background: transparent;
}

.dropdown:hover {
  color: #4f85c0;
}
.comment {
  background-color: rgba(90, 143, 199, 0.521);
  padding: 5px;
  border-radius: 3px;
  border: 1px dotted;
}

.errorview {
  grid-column: 1/3;
  background-color: #eee;
  margin: 10px;
  border-bottom: 0.3rem solid #ccc;
  border-radius: 1rem;
  text-align: center;
}

#err404 {
  font-size: 12rem;
  color: rgb(114, 137, 161);
}
#noResultError {
  font-size: 5rem;
}
