body {
	font-family: "Benton Sans", sans-serif;
}

h2,
h3 {
	color: #222;
}

h1,
h4 {
	color: #eee;
}

h1 {
	font-size: 2rem;
	line-height: 1rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.6rem;
	margin: 2px 0 8px;
}

h4 {
	color: rgb(238, 238, 238);
	font-size: 1.1rem;
	font-weight: 500;
	margin: 1rem 1rem 0.2rem;
}

.header__title {
	/*display: inline-block;*/
	font-style: italic;
	color: #fff;
}

a {
	font-weight: 600;
	color: #1d70b8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.source {
	text-transform: lowercase;
}

#starredTitle {
	color: #2b2b2b;
	font-weight: bold;
	word-wrap: break-word;
}
